body{
    font-family: Arial, sans-serif;
}
header{
    position: sticky;
    top: 0px;
}

/*--Sticky Content--*/
header{
    color: white;
}
.sticky{
    background-color: #131A22;
    margin: -8px;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.item-search{
    background-color: white;
    color: gray;
    height: 41px;
    display: flex;
    align-items: center;
    width: 500px;
    border-radius: 5px;
}
.item-name{
    margin-right: 10px;
    width: 380px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}
.item-search-button{
    background-color: #FEBD69;
    color: black;
    font-size: 20px;
    padding-top: 10px;
    padding-right: 11px;
    padding-left: 10px;
    padding-bottom: 9px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.item-filter{
    font-size: 12px;
    color: rgba(0, 0, 0, 0.6);
    width: 34px;
    padding: 13px;
    border-right: 1px solid lightgrey;
    background-color: rgba(0, 0, 0, 0.1);
}
.language{
    display: flex;
    align-items: center;
}
.delivery{
    font-size: 12px;
    color: lightgrey;
    margin-left: 20px;
}
.login, .returns{
    font-size: 12px;
}
.font{
    font-size: 14px;
}

/*--Non Sticky Content--*/
.non-sticky{
    background-color: #232F3E;
    color: white;
    margin-top: 8px;
    margin-right: -8px;
    margin-left: -10px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.non-sticky-contents{
    font-size: 14px;
    display: flex;
    align-items: center;
    width: auto;
    margin-left: 10px;
}
.non-sticky-contents span{
    font-weight: 500;
}
.tabs{
    padding-left: 7px;
    padding-right: 7px;
}
.all{
    padding-right: 7px;
    font-size: 14px;
}
.bi-list{
    display: flex;
    align-items: center;
    font-size: 25px;
}
.bi-caret-down-fill{
    display: inline;
    align-items: center;
    font-size: 10px;
    color: gray;
}

/*-- Amazon Banner --*/
.banner{
    background-image: url(public/images/banner3.jpg);
    height: 250px;
    background-size: cover;
    margin-left: -8px;
    margin-right: -8px;
}

/*------Card Content------*/
.cards-container, .cards-container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.0);
}
.cards-container2{
    margin-top: 20px;
}
.card{
    width: 295px;
    height: 400px;
    background-color: whitesmoke;
}
.image{
    display: grid;
    grid-template-columns: 6fr 6fr;
    width: 275px;
    padding: 15px;
    padding-top: unset;
}
p{
    margin: unset;
    font-size: 12px;
    width: 122px;
    padding-bottom: -5px;
}
.card-header{
    padding: 15px;
    font-size: 23px;
    margin-bottom: 10px;
    padding-bottom: unset;
    font-weight: bold;
}
.card-footer{
    padding-left: 15px;
    padding-top: 20px;
    font-size: 13px;
    margin-bottom: 20px;
    color: blue;
}
.card-footer-2{
    padding-left: 15px;
    padding-top: 20px;
    font-size: 13px;
    margin-top: -14px;
    margin-bottom: 20px;
    color: blue;
}
.ac, .rf, .pt, .mi, .ca, .tr{
    margin-bottom: 14px;
}